@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  /* text-transform: capitalize; */
  transition: all 0.2s linear;
}

/* header  */

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 100px;
  background-color: rgb(1, 203, 1);
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: white;
  font-weight: 900;
}

.logo > i {
  color: white;
  margin-right: 5px;
}

.search-form {
  border-radius: 20px;
  height: 40px;
  width: 500px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background: white;
}

.search-form > input {
  width: 100%;
  padding-right: 10px;
  font-size: 15px;
}

.search-form > label {
  font-size: 20px;
  cursor: pointer;
}

.search-form > label:hover {
  color: lightblue;
}

.icons {
  display: flex;
  align-items: center;
}

.icons > div,
.icons > a {
  margin-right: 15px;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

.icons > div:hover,
.icons > a:hover {
  color: black;
}

/* header  */

/* side-bar  */

.side-bar {
  position: fixed;
  top: 0;
  left: -120%;
  background-color: rgb(232, 251, 234);
  height: 100vh;
  width: 400px;
  z-index: 1000;
}

.user {
  align-items: center;
  text-align: center;
  padding-top: 25px;
}

#close-side-bar {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 35px;
  color: gray;
  cursor: pointer;
}

#close-side-bar:hover {
  transform: rotate(180deg);
  color: black;
}

.user > img {
  width: 200px;
  border-radius: 100px;
  padding: 10px;
  border: 1px solid white;
  background: white;
}

.user > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
}

.user > a {
  color: rgb(1, 203, 1);
  font-size: 17px;
}

.user > a:hover {
  color: black;
}

.navbar {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.navbar > a {
  font-size: 20px;
  padding-top: 20px;
  color: black;
}

.navbar > a > i {
  padding-right: 10px;
}

.navbar > a:hover > i,
.navbar > a:hover {
  color: rgb(21, 164, 21);
  padding-right: 20px;
}

/* side-bar  */

/* register  */

.register-form {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 500px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.register-form > h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.register-form > input {
  margin-top: 25px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.register-form > input::placeholder {
  font-size: 18px;
}

/* register  */

/* login  */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat center
    url("https://cdn.dribbble.com/users/474089/screenshots/3370205/attachments/733020/desktop-wallpaper-kiwi.jpg");

  height: 700px;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 500px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.login-form > h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.login-form > input {
  margin-top: 25px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.login-form > input::placeholder {
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.buttons > button,
.buttons > a {
  background-color: black;
  color: lightgreen;
  padding: 10px 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.buttons > button:hover,
.buttons > a:hover {
  background-color: rgba(0, 0, 0, 0.755);
}

/* login  */

/* details  */

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: 50% 0 no-repeat fixed
    url("https://cdn.dribbble.com/users/474089/screenshots/3370205/attachments/733020/desktop-wallpaper-kiwi.jpg");
}

.comment-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  width: 1020px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

.comment-section-container-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: 50% 0 no-repeat fixed
    url("https://cdn.dribbble.com/users/474089/screenshots/3370205/attachments/733020/desktop-wallpaper-kiwi.jpg");
}

.product-container {
  position: relative;
  display: flex;
  height: 550px;
  width: 1000px;
  justify-content: center;
  margin-top: 20px;
  margin-right: 17px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.product-container > img {
  position: absolute;
  left: 50px;
  top: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  width: 400px;
  height: 400px;
}

.product-container > h1 {
  position: absolute;
  left: 55%;
  top: 50px;
  font-size: 45px;
}

/* .product-container > p {
  position: absolute;
  left: 60%;
  top: 100px;
  width: 200px;
  text-align: center;
  font-size: 20px;
  color: purple;
} */

.product-container > p {
  position: absolute;
  left: 55%;
  top: 110px;
  text-align: center;
  font-size: 20px;
  color: purple;
}

.product-container > p > span {
  color: gray;
}

.product-container > h2 {
  position: absolute;
  left: 55%;
  top: 150px;
  color: red;
  font-size: 30px;
}

.product-container > button {
  position: absolute;
  left: 55%;
  top: 220px;
  padding: 15px 30px 15px 30px;
  border: none;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.709);
  background-color: rgb(0, 247, 255);
  cursor: pointer;
  font-size: 20px;
}

.product-container > button:hover {
  color: red;
}

.product-container > h3 {
  position: absolute;
  left: 55%;
  top: 340px;
  width: 350px;
  text-align: left;
}

.comment-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.comment-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 450px;
}

.comment-form > h1 {
  font-size: 30px;
  padding: 10px 0 0 10px;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .rating-container > #username {
  border: 1px solid pink;
  width: 200px;
  padding: 10px 10px 10px 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.rating-container > #username::placeholder {
  font-size: 15px;
} */

.rating-container > #rating {
  border: 1px solid pink;
  width: 90px;
  padding: 10px 10px 10px 5px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.rating-container > #rating::placeholder {
  font-size: 15px;
}

.comment-form > #comment {
  border: 1px solid pink;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 5px 0 100px 5px;
}

.comment-form > #comment::placeholder {
  font-size: 15px;
}

.comment-form > button {
  width: 120px;
  padding: 10px 15px 10px 15px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.comment-form > button:hover {
  background-color: lightblue;
}

.user-comments {
  display: flex;
  flex-direction: column;
}

.comment {
  border: 1px solid blue;
  margin-top: 50px;
  border-radius: 5px;
  margin-bottom: 40px;
  position: relative;
}

.delete-comment {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  border-radius: 5px;
  padding: 2px 5px 2px 5px;
  font-weight: bold;
  cursor: pointer;
}

.delete-comment:hover{
  color: red;
}

.comment > h3 {
  border-bottom: 1px solid black;
  width: 400px;
  word-break: break-all;
  font-size: 17px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
}

.comment > p {
  text-align: right;
  padding-right: 10px;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: goldenrod;
}

.user-image {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-image > img {
  width: 60px;
  border-radius: 30px;
  margin-right: 10px;
}

.user-image > h1 {
  font-size: 25px;
  color: green;
}

.noUser {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.noUser > h1 {
  margin-top: 20px;
}

.noUser > a {
  background-color: rgb(0, 179, 255);
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  margin-top: 15px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 2px;
}

.noUser > a:hover {
  opacity: 0.7;
}

/* details  */

/* home  */
.home {
  background-color: white;
}

.swiper-button-next {
  padding-right: 100px;
}

.swiper-button-prev {
  padding-left: 30px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: black;
}

.slide {
  position: relative;
  align-items: center;
  gap: 2rem;
  min-height: 40rem;
  padding: 2rem 0;
}

.image {
  text-align: center;
  position: absolute;
  left: 20%;
}

.image > img {
  height: 30rem;
}

.content {
  position: absolute;
  right: 30%;
  top: 200px;
}

.content > span {
  color: blue;
  font-size: 18px;
  font-weight: bold;
}

.content > p {
  color: red;
  font-size: 35px;
  padding-top: 15px;
}

.content > h3 {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.content > h4 {
  padding-bottom: 30px;
  font-size: 15px;
  color: purple;
}

.btn {
  color: white;
  background-color: rgb(0, 157, 255);
  padding: 12px 30px 12px 30px;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.671);
}

/* home  */

/* footer  */
.quick-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 40px 100px;
}

.links {
  display: flex;
  align-items: center;
}

.links > a {
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

.links > a:hover {
  color: lightblue;
}

.share {
  display: flex;
  align-items: center;
}

.share > a {
  color: white;
  margin-right: 15px;
  font-size: 22px;
}

.share > a:hover {
  color: gold;
}

.credit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  background-color: white;
}

.credit > p {
  font-size: 20px;
  color: rgb(128, 128, 128);
}

.credit > p > span {
  color: rgb(0, 166, 255);
}

.credit > img {
  height: 40px;
  filter: drop-shadow(0 0 2px black);
}

/* footer  */
